name: mongo CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12]
        mongodb-version: [4.2]
        mongodb-port: [28001]

    services:
      mongodb:
        image: mongo:${{ matrix.mongodb-version }}
        ports:
          - ${{ matrix.mongodb-port }}:27017

    steps:
    - name: Git checkout
      uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: npm install
    - name: npm test
      run: |
        export PORT=${{ matrix.mongodb-port }}
        npm test
      env:
        CI: true
